@tailwind base;
@tailwind components;
@tailwind utilities;

/* [data-theme="rg"] {
    --primary-color: #c85a19;
    --primary-alt-color: #e9874e;
    --secondary-color: #006039;
    --secondary-alt-color: #00e070;
    --tertiary-color: white;
    --button-text-color: white;
    --legend-text-color: white;
    --table-header-color: black;
} */



[data-theme="light"] {
    --background-color: #;
    --app-bar-color: rgba(0 0 0 / 0.09);
    --surface-color: #121212;
    --primary-color: #;
    --secondary-color: #;
    --on-background-color: #;
    --on-surface-color: #;
    --on-primary-color: #;
    --on-secondary-color: #;
}

[data-theme="dark"] {
    --background-color: #121212;
    --app-bar-color: rgba(255 255 255 / 0.09);
    --nav-drawer-color: rgba(255 255 255 / 0.15);
    --card-color: rgba(255 255 255 / 0.11);
    --button-color: rgba(255 255 255 / 0.12);
    --table-data-color: rgba(255 255 255 / 0.8);
    /* --X-color: rgba(255 255 255 / 0.); */
    --surface-color: #121212;
    /* --primary-color: #bb86fc; */
    /* --primary-color: #f6ff00; */
    --primary-color: #09af00;
    /* --primary-variant-color: #3700b3; */
    /* --primary-variant-color: #0800ff; */
    /* --primary-variant-color: #ffb800; */
    --primary-variant-color: #007d00;
    --on-background-color: #ffffff;
    --on-surface-color: #ffffff;
    --on-primary-color: #000000;
    --on-primary-variant-color: rgba(255 255 255 / 0.9);
    --error-color: #cf6679;
}


input, select {
    background-color: var(--nav-drawer-color);
    color: var(--on-surface-color);
}

select :focus {
    background-color: #cf6679;
}

option {
    background-color: #121212;
    color: white;
}

option:hover {
    background-color:#121212;
}

button {
    padding: 5px 20px;
}

legend {
    color: var(--on-primary-color);
    background-color: var(--primary-color);
}

th, td {
    border: 1px solid black;
    border-collapse: separate;
}

td {
    color: var(--table-data-color);
}

.back-button {
    height: 24px;
    width: 24px;
}

@media only screen and (min-width: 640px) {
    .back-button {
        height: 36px;
        width: 36px;
    }
}

.blank-cell {
    border: none;
}