@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="roland-garros"] {
    --primary-color: #c85a19;
    --secondary-color: #006039;
    --tertiary-color: white;
}

[data-theme="wimbledon"] {
    --primary-color: #006633;
    --secondary-color: #4c2178;
    --tertiary-color: white;
}

[data-theme="us-open"] {
    --primary-color: #00228d;
    --secondary-color: #f7cd00;
    --tertiary-color: black;
}

[data-theme="aus-open"] {
    --primary-color: #1b8cca;
    --secondary-color: white;
    --tertiary-color: black;
}

button {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    padding: 5px 10px;
}

fieldset {
    border: 1px solid white;
}

th, td {
    padding: 5px 10px;
    border: 1px solid black;
    border-collapse: separate;
}

.blank-cell {
    border: none;
}